{{#partial "contenido"}}
    <div class="m-5">
        <div class="col-md-10">
            <h1 class="dark-text">{{error}}</h1>
            <p class="dark-text">Si consideras que esto es un error, por favor contacta a nuestro equipo de soporte. Estaremos encantados de ayudarte a resolver cualquier inconveniente.</p>
            <p class="dark-text">Si normalmente puedes acceder a esta página pero ahora no tienes acceso, verifica que hayas iniciado sesión. Si aún no tienes una cuenta, puedes <a href="/tipoCuenta">registrarte aquí</a>. Si ya tienes una cuenta, puedes <a href="/inicioSesion">iniciar sesión</a> a través de este enlace.</p>
        </div>
    </div>
{{/partial}}

{{> templates/base titulo="Error"}}