{{#partial "contenido"}}
    <div class="m-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-10">
                <h1>Sistema para la Mejora del Acceso Alimentario en Contextos de Vulnerabilidad Socioeconómica</h1>
                <div class="row info-card mt-5 p-3">
                    <h5 class="fw-bold mt-2 mb-3">Contexto</h5>
                    <p>Una ONG decidió colocar heladeras a lo largo y ancho de Argentina para mejorar el acceso a los alimentos de las personas con vulnerabilidad alimentaria. Estas heladeras se encuentran en: restaurantes, estaciones de transporte público y otros establecimientos de fácil acceso tanto para las personas que los necesitan como para aquellos que deciden colaborar con la causa. Sin embargo, se observaron algunos problemas, por esta misma razón se creo SMAACVS.</p>
                </div>
                <div class="row info-card-alternative mt-3 p-3">
                    <h5 class="fw-bold mt-2 mb-3">¿Qué es SMAACVS?</h5>
                    <p>SMAACVS es un sistema dedicado a la mejora del acceso de alimentos para personas en un contexto de vulnerabilidad socioeconómica. El cual se encarga de:</p>
                    <ul class="ms-3" style="overflow-wrap: break-word;">
                        <li>Que las heladeras no queden funcionando por días sin comida o que los alimentos se echen a perder porque nadie los consume.</li>
                        <li>Que los colaboradores sepan: a qué heladera conviene llevar los alimentos, dónde se encuentran las mismas y si se encuentran activas.</li>
                        <li>Detectar problemas técnicos con las heladeras y enviar personas capacitadas que puedan resolverlo a tiempo.</li>
                    </ul>
                </div>
                <div class="row info-card-alternative mt-3 p-3">
                    <h5 class="fw-bold mt-2 mb-3">¿Quiénes somos?</h5>
                    <ul class="ms-3" style="overflow-wrap: break-word;">
                        <li>Facundo Gauna</li>
                        <li>Nehuen Balian Amaros</li>
                        <li>Rocio Ochoa Charlín</li>
                        <li>Marco Bravo</li>
                        <li>Eitan Wajsberg</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> templates/base titulo="Inicio" mostrarInicioSesion=true mostrarRegistro = true}}