{{#partial "contenido"}}
    <div class="mt-5 ms-sm-5 me-sm-5 mt-3 pb-3 ms-3 me-3 mb-5">
        <div class="row g-3 d-flex align-items-stretch">
            <a class="col-md-12" href="/heladeras/nuevo">
                <div class="card-custom">
                    <img src="/img/encargarse-heladera.png" alt="Encargarse de heladera">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Encargarse de una heladera</h5>
                        <p class="card-text mb-4">Participar en nuestra iniciativa encargándose de una heladera que contenga las donaciones de alimentos. Es una manera práctica y directa de colaborar con la comunidad y apoyar nuestro esfuerzo por ayudar a las personas en situación vulnerable.</p>
                    </div>
                </div>
            </a>
            <a class="col-md-12 d-flex" href="/heladeras">
                <div class="card-custom flex-fill">
                    <img src="/img/mapa.png" alt="Mapa">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Mapa</h5>
                        <p class="card-text mb-4">Mapa interactivo que muestra la ubicación de todas las heladeras disponibles. Cada punto en el mapa indica la ubicación de una heladera y ofrece información relevante, como su disponibilidad, estado y características. Utiliza el mapa para encontrar la heladera más cercana y obtener más detalles sobre cómo puedes participar.</p>
                    </div>
                </div>
            </a>
            <a class="col-md-6 d-flex" href="/ofertas">
                <div class="card-custom flex-fill">
                    <img src="/img/ofertas.png" alt="Ofertas">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Ofertas</h5>
                        <p class="card-text mb-4">Ofrece tus productos o servicios a cambio de puntos que los voluntarios pueden canjear. Al colaborar con nuestra causa, aumentarás la visibilidad de tu empresa y atraerás nuevos clientes al participar en este programa de recompensas.</p>
                    </div>
                </div>
            </a>
            <a class="col-md-6 d-flex" href="/donacionDinero">
                <div class="card-custom flex-fill">
                    <img src="/img/donacion-dinero.png" alt="Donacion de dinero">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Donaciones de dinero</h5>
                        <p class="card-text mb-4">Contribuir a la causa realizando donaciones de dinero. Sus aportes son esenciales para mantener el funcionamiento de nuestras heladeras y brindar apoyo a las personas en situación vulnerable. Para hacer una donación, solo deben seguir los pasos indicados en el sistema.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{{/partial}}
{{> templates/base titulo="Inicio" mostrarSeccion=true seccion="Inicio" mostrarPersonaJuridica=true }}
