{{#partial "contenido"}}
    <div class="mt-5 ms-sm-5 me-sm-5 mt-3 pb-3 ms-3 me-3 mb-5">
        <div class="row g-3 d-flex align-items-stretch">
            <a class="col-md-12" href="/personasVulnerables">
                <div class="card-custom">
                    <img src="/img/registro-persona-vulnerable.png" alt="Carga masiva de colaboraciones">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Registro de persona en situación vulnerable</h5>
                        <p class="card-text mb-4">Para registrar a personas en situación vulnerable, primero es necesario entregarles tarjetas y luego cargar su información en el sistema. Este proceso garantiza que el acceso a las heladeras se realice de manera controlada y efectiva para quienes lo necesitan.</p>
                    </div>
                </div>
            </a>
            <a class="col-md-6 d-flex" href="/distribucionVianda">
                <div class="card-custom flex-fill">
                    <img src="/img/distribucion-viandas.png" alt="Distribucion de viandas">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Distribución de viandas</h5>
                        <p class="card-text mb-4">Para distribuir viandas, es necesario registrar en el sistema la heladera de origen, la heladera de destino, la cantidad de viandas, el motivo y la fecha. Una vez realizado el registro, se dispone de un plazo de 3 horas para completar la acción. Sin este registro previo, no será posible abrir la heladera.</p>
                    </div>
                </div>
            </a>
            <a class="col-md-6 d-flex" href="/donacionVianda">
                <div class="card-custom flex-fill">
                    <img src="/img/donacion-vianda.png" alt="Donacion de viandas">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Donación de viandas</h5>
                        <p class="card-text mb-4">Para donar viandas, es necesario registrar la donación en el sistema, especificando la heladera de destino, la cantidad de viandas y la fecha. Una vez hecho el registro, se cuenta con un plazo de 3 horas para realizar la donación. Sin este registro previo, no será posible abrir la heladera.</p>
                    </div>
                </div>
            </a>
            <a class="col-md-12 d-flex" href="/heladeras">
                <div class="card-custom flex-fill">
                    <img src="/img/mapa.png" alt="Mapa">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Mapa</h5>
                        <p class="card-text mb-4">Mapa interactivo que muestra la ubicación de todas las heladeras disponibles. Cada punto en el mapa indica la ubicación de una heladera y ofrece información relevante, como su disponibilidad, estado y características. Utiliza el mapa para encontrar la heladera más cercana y obtener más detalles sobre cómo puedes participar.</p>
                    </div>
                </div>
            </a>
            <a class="col-md-6 d-flex" href="/ofertas">
                <div class="card-custom flex-fill">
                    <img src="/img/ofertas.png" alt="Ofertas">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Ofertas</h5>
                        <p class="card-text mb-4">Como agradecimiento a nuestros voluntarios, hemos implementado un sistema de puntos que pueden canjear por productos y servicios ofrecidos por empresas asociadas en nuestra plataforma. Estas ofertas están organizadas en categorías como gastronomía, electrónica y artículos para el hogar.</p>
                    </div>
                </div>
            </a>
            <a class="col-md-6 d-flex" href="/donacionDinero">
                <div class="card-custom flex-fill">
                    <img src="/img/donacion-dinero.png" alt="Donacion de dinero">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Donaciones de dinero</h5>
                        <p class="card-text mb-4">Contribuir a la causa realizando donaciones de dinero. Sus aportes son esenciales para mantener el funcionamiento de nuestras heladeras y brindar apoyo a las personas en situación vulnerable. Para hacer una donación, solo deben seguir los pasos indicados en el sistema.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{{/partial}}
{{> templates/base titulo="Inicio" mostrarSeccion=true seccion="Inicio" mostrarPersonaHumana=true }}
